In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# import seaborn as sns

# Dataset 1

In [46]:
health_data = pd.read_csv('healthcare_dataset.csv')
health_data = health_data.drop(['Insurance Provider', 'Room Number', 'Name', 'Billing Amount'], axis=1)

# convert date to datetime
health_data.head()

,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Admission Type,Discharge Date,Medication,Test Results
0,81,Female,O-,Diabetes,2022-11-17,Patrick Parker,Wallace-Hamilton,Elective,2022-12-01,Aspirin,Inconclusive
1,35,Male,O+,Asthma,2023-06-01,Diane Jackson,"Burke, Griffin and Cooper",Emergency,2023-06-15,Lipitor,Normal
2,61,Male,B-,Obesity,2019-01-09,Paul Baker,Walton LLC,Emergency,2019-02-08,Lipitor,Normal
3,49,Male,B-,Asthma,2020-05-02,Brian Chandler,Garcia Ltd,Urgent,2020-05-03,Penicillin,Abnormal
4,51,Male,O-,Arthritis,2021-07-09,Dustin Griffin,"Jones, Brown and Murray",Urgent,2021-08-02,Paracetamol,Normal

In [47]:
# create length of stay column
health_data['Date of Admission'] = pd.to_datetime(health_data['Date of Admission'])
health_data['Discharge Date'] = pd.to_datetime(health_data['Discharge Date'])
health_data['Length of Stay'] = health_data['Discharge Date'] - health_data['Date of Admission']
health_data['Length of Stay'] = health_data['Length of Stay'].dt.days
health_data.drop(['Date of Admission'], axis=1, inplace=True)

health_data['Medical Condition'] = health_data['Medical Condition'].replace('Arthritis', 'Leptospirosis')
health_data['Medical Condition'] = health_data['Medical Condition'].replace('Cancer', 'CKD')
health_data['Medical Condition'] = health_data['Medical Condition'].replace('Obesity', 'Malnutrition')

health_data.head()

,Age,Gender,Blood Type,Medical Condition,Doctor,Hospital,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
0,81,Female,O-,Diabetes,Patrick Parker,Wallace-Hamilton,Elective,2022-12-01,Aspirin,Inconclusive,14
1,35,Male,O+,Asthma,Diane Jackson,"Burke, Griffin and Cooper",Emergency,2023-06-15,Lipitor,Normal,14
2,61,Male,B-,Malnutrition,Paul Baker,Walton LLC,Emergency,2019-02-08,Lipitor,Normal,30
3,49,Male,B-,Asthma,Brian Chandler,Garcia Ltd,Urgent,2020-05-03,Penicillin,Abnormal,1
4,51,Male,O-,Leptospirosis,Dustin Griffin,"Jones, Brown and Murray",Urgent,2021-08-02,Paracetamol,Normal,24

In [48]:
import random
asthma_count = health_data['Medical Condition'].str.contains('Asthma', case=False).sum()
replace_count = int(0.7* asthma_count)
asthma_indices = health_data[health_data['Medical Condition'].str.contains('Asthma', case=False)].index
replace_indices = random.sample(list(asthma_indices), replace_count)
health_data.loc[replace_indices, 'Medical Condition'] = 'Tuberculosis'

hypertension_count = health_data['Medical Condition'].str.contains('Hypertension', case=False).sum()
replace_count = int(0.4* hypertension_count)
Hypertension_indices = health_data[health_data['Medical Condition'].str.contains('Hypertension', case=False)].index
replace_indices = random.sample(list(Hypertension_indices), replace_count)
health_data.loc[replace_indices, 'Medical Condition'] = 'Dengue'

count = health_data['Medical Condition'].str.contains('Hypertension', case=False).sum()
replace_count = int(0.6*count)
indices = health_data[health_data['Medical Condition'].str.contains('Hypertension', case=False)].index
replace_indices = random.sample(list(indices), replace_count)
health_data.loc[replace_indices, 'Medical Condition'] = 'Pneumonia'


count = health_data['Medical Condition'].str.contains('Malnutrition', case=False).sum()
replace_count = int(0.2*count)
indices = health_data[health_data['Medical Condition'].str.contains('Malnutrition', case=False)].index
replace_indices = random.sample(list(indices), replace_count)
health_data.loc[replace_indices, 'Medical Condition'] = 'Leptospirosis'

count = health_data['Medical Condition'].str.contains('Diabetes', case=False).sum()
replace_count = int(0.4*count)
indices = health_data[health_data['Medical Condition'].str.contains('Diabetes', case=False)].index
replace_indices = random.sample(list(indices), replace_count)
health_data.loc[replace_indices, 'Medical Condition'] = 'CKD'

count = health_data['Medical Condition'].str.contains('Leptospirosis', case=False).sum()
replace_count = int(0.5*count)
indices = health_data[health_data['Medical Condition'].str.contains('Leptospirosis', case=False)].index
replace_indices = random.sample(list(indices), replace_count)
health_data.loc[replace_indices, 'Medical Condition'] = 'Renal Stones'

count = health_data['Medical Condition'].str.contains('Malnutrition', case=False).sum()
replace_count = int(0.4*count)
indices = health_data[health_data['Medical Condition'].str.contains('Malnutrition', case=False)].index
replace_indices = random.sample(list(indices), replace_count)
health_data.loc[replace_indices, 'Medical Condition'] = 'Renal Stones'

In [49]:
#list medical conditions
health_data['Medical Condition'].value_counts()

Medical Condition
CKD              2352
Renal Stones     1508
Tuberculosis     1195
Leptospirosis     988
Diabetes          974
Malnutrition      782
Dengue            675
Pneumonia         607
Asthma            513
Hypertension      406
Name: count, dtype: int64

In [50]:
from numpy.random import choice

hospital_weights = {
    "Nochchiyagama": 0.01,
    "Elayapaththuwa": 0.02,
    "Eppawala": 0.03,
    "Galenbindunuwewa": 0.03,
    "Galnewa": 0.01,
    "Horowpathana": 0.04,
    "Huruluwewa": 0.05,
    "Mihinthale": 0.12,
    "Tanthirimale": 0.07,
    "Thalawa": 0.04,
    "Maradankadawala": 0.04,
    "Rambewa": 0.04,
    "Galkiriyagama": 0.04,
    "Ranorawa": 0.04,
    "Mahavilachchiya": 0.04,
    "Adiyagala": 0.02,
    "Habarana": 0.09,
    "Kalawewa": 0.06,
    "Rajanganaya": 0.06,
    "Nachchaduwa": 0.04,
    "Negampaha": 0.01,
    "Rathmalgahawewa": 0.02,
    "Pairamaduwa": 0.03,
    "Kallanchiya": 0.02,
    "Prison": 0.01,
    "Wahalkada": 0.02
}
hospital_names = list(hospital_weights.keys())
weights = list(hospital_weights.values())

# Replace the hospital column with randomly selected hospitals based on weights
health_data['Hospital'] = choice(hospital_names, size=len(health_data), p=weights)

health_data.Hospital.value_counts()

Hospital
Mihinthale          1175
Habarana             912
Tanthirimale         695
Rajanganaya          634
Kalawewa             573
Huruluwewa           508
Mahavilachchiya      440
Galkiriyagama        415
Ranorawa             413
Maradankadawala      398
Horowpathana         391
Nachchaduwa          389
Thalawa              383
Rambewa              364
Pairamaduwa          318
Galenbindunuwewa     299
Eppawala             270
Kallanchiya          207
Rathmalgahawewa      204
Elayapaththuwa       204
Adiyagala            201
Wahalkada            198
Negampaha            116
Galnewa              105
Nochchiyagama         98
Prison                90
Name: count, dtype: int64

In [51]:
#duplicate data
health_data = pd.concat([health_data, health_data], ignore_index=True)
health_data = pd.concat([health_data, health_data], ignore_index=True)

health_data

,Age,Gender,Blood Type,Medical Condition,Doctor,Hospital,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
0,81,Female,O-,Diabetes,Patrick Parker,Horowpathana,Elective,2022-12-01,Aspirin,Inconclusive,14
1,35,Male,O+,Tuberculosis,Diane Jackson,Galkiriyagama,Emergency,2023-06-15,Lipitor,Normal,14
2,61,Male,B-,Renal Stones,Paul Baker,Galenbindunuwewa,Emergency,2019-02-08,Lipitor,Normal,30
3,49,Male,B-,Asthma,Brian Chandler,Mihinthale,Urgent,2020-05-03,Penicillin,Abnormal,1
4,51,Male,O-,Renal Stones,Dustin Griffin,Kallanchiya,Urgent,2021-08-02,Paracetamol,Normal,24
...,...,...,...,...,...,...,...,...,...,...,...
39995,83,Male,A+,Renal Stones,Samuel Moody,Kallanchiya,Elective,2022-08-02,Ibuprofen,Abnormal,4
39996,47,Female,AB+,Renal Stones,Christopher Yates,Kalawewa,Emergency,2022-01-29,Ibuprofen,Normal,23
39997,54,Male,B-,Leptospirosis,Robert Nicholson,Eppawala,Elective,2022-07-15,Ibuprofen,Normal,14
39998,84,Male,A+,Renal Stones,Jamie Lewis,Rajanganaya,Urgent,2020-02-26,Penicillin,Normal,20
39999,20,Male,B-,Renal Stones,Tasha Avila,Nachchaduwa,Emergency,2023-04-15,Penicillin,Abnormal,24

In [52]:
postal_data = {
    "50112": "Andiyagala",
    # "50370": "Kapugallawa",
    # "50122": "Pubbogama",
    "50248": "Angamuwa",
    "50232": "Karagahawewa",
    # "50567": "Pulmoddai",
    "50000": "Anuradhapura",
    "50088": "Labunoruwa",
    # "50506": "Punewa",
    "50169": "Awukana",
    # "50262": "Ihala Halmillewa",
    "50246": "Rajanganaya",
    "50566": "Bogahawewa",
    # "50304": "Ihalagama",
    "50450": "Rambewa",
    "50356": "Dematawewa",
    "50280": "Ipologama",
    # "50386": "Rampathwila",
    "50214": "Dunumadalawa",
    "50130": "Madatugama",
    # "50212": "Ranorawa",
    # "50393": "Dutuwewa",
    "50126": "Maha Elagamuwa",
    "50514": "Rathmalgahawewa",
    # "50014": "Elayapattuwa",
    "50196": "Mahabulankulama",
    "50008": "Saliyapura",
    "50260": "Eppawala",
    "50270": "Mahailluppallama",
    # "50380": "Seeppukulama",
    # "50584": "Etawatunuwewa",
    "50306": "Mahakanadarawa",
    # "50284": "Senapura",
    "50518": "Etaweeragollewa",
    # "50327": "Mahapothana",
    # "50068": "Sivalakulama",
    "50210": "Galadivulwewa",
    "50574": "Mahasenpura",
    "50184": "Siyambalewa",
    "50390": "Galenbindunuwewa",
    "50022": "Mahawilachchiya",
    # "50006": "Galkadawala",
    "50384": "Mailagaswewa",
    # "50236": "Malwanagama",
    "50240": "Tambuttegama",
    "50064": "Galkulama",
    # "50182": "Maneruwa",
    "50170": "Galnewa",
    "50080": "Maradankadawala",
    # "50016": "Tantirimale",
    "50308": "Maradankalla",
    # "50242": "Telhiriyawa",
    # "50142": "Ganewalpola",
    "50500": "Medawachchiya",
    # "50057": "Gambirigaswewa",
    # "50334": "Megodawewa",
    # "50558": "Tittagonewa",
    # "50224": "Gemunupura",
    # "50572": "Padavi Maithripura",
    # "50207": "Udunuwara Colony",
    # "50382": "Upuldeniya",
    # "50554": "Gonahaddenawa",
    # "50587": "Padavi Sripura",
    # "50588": "Padaviya",
    # "50110": "Vijithapura",
    "50564": "Wahalkada",
    # "50492": "Wahamalgollewa",
    # "50086": "Walagambahuwa",
    # "50516": "Walahaviddawewa",
    "50350": "Horawpatana",
    # "50220": "Pahala Maragahawe",
    # "50222": "Horiwila",
    # "50206": "Pahala Halmillewa",
    "50124": "Halmillawa",
    # "50552": "Halmillawetiya",
    # "50111": "Palagala",
    "50144": "Palugaswewa",
    "50282": "Kagama",
    "50448": "Pandukabayapura",
    # "50029": "Pandulagama",
    "50320": "Kahatagasdigiliya",
    "50326": "Parakumpura",
    "50288": "Kalakarambewa",
    # "50354": "Parangiyawadiya",
    "50174": "Kalankuttiya",
    # "50020": "Pemaduwa",
    "50556": "Kalawedi Ulpotha",
    "50004": "Perimiyankulama",
    "50454": "Kallanchiya",
    "50512": "Pihimbiyagolewa"
}

# create a new column for postal code and randomly assign postal codes
postal_codes = list(postal_data.keys())
health_data['PostalCode'] = choice(postal_codes, size=len(health_data))
health_data.PostalCode.value_counts()

PostalCode
50308    908
50124    906
50512    900
50556    889
50454    881
50282    877
50566    876
50390    876
50326    875
50174    872
50248    870
50384    869
50126    867
50022    867
50564    866
50448    866
50144    863
50280    863
50240    862
50574    861
50356    857
50270    855
50004    854
50350    852
50088    851
50320    850
50196    847
50008    844
50000    843
50210    842
50518    841
50214    840
50169    836
50232    833
50246    832
50450    826
50260    824
50288    822
50130    821
50306    821
50080    818
50184    817
50514    816
50170    815
50500    812
50112    811
50064    806
Name: count, dtype: int64

In [9]:
# save the data
health_data.to_csv('healthcare_dataset_edited.csv', index=False)

NameError: name 'health_data' is not defined

# Dataset 2

In [5]:
health_dataset2 = pd.read_csv('LengthOfStay.csv')

In [6]:
health_dataset2

,eid,vdate,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,...,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,discharged,facid,lengthofstay
0,1,8/29/2012,0,F,0,0,0,0,0,0,...,192.476918,12.0,1.390722,30.432418,96,6.5,4,9/1/2012,B,3
1,2,5/26/2012,5+,F,0,0,0,0,0,0,...,94.078507,8.0,0.943164,28.460516,61,6.5,1,6/2/2012,A,7
2,3,9/22/2012,1,F,0,0,0,0,0,0,...,130.530524,12.0,1.065750,28.843812,64,6.5,2,9/25/2012,B,3
3,4,8/9/2012,0,F,0,0,0,0,0,0,...,163.377028,12.0,0.906862,27.959007,76,6.5,1,8/10/2012,A,1
4,5,12/20/2012,0,F,0,0,0,1,0,1,...,94.886654,11.5,1.242854,30.258927,67,5.6,2,12/24/2012,E,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,1/28/2012,3,M,0,0,0,0,0,0,...,171.422555,12.0,0.650323,30.063069,80,6.5,1,2/3/2012,B,6
99996,99997,8/6/2012,0,M,0,0,0,0,0,0,...,122.342450,12.0,1.521424,28.969548,61,6.5,1,8/7/2012,B,1
99997,99998,7/23/2012,1,M,0,0,1,0,0,0,...,108.288106,12.0,1.025677,26.354919,61,6.9,1,7/27/2012,C,4
99998,99999,12/19/2012,0,M,0,0,0,0,0,0,...,111.750731,16.0,1.035400,29.193462,59,5.6,1,12/23/2012,B,4
99999,100000,3/6/2012,0,F,0,0,0,0,0,0,...,149.572205,12.0,0.813004,25.175760,74,6.5,4,3/8/2012,B,2

In [7]:
print(health_dataset2.columns)

health_dataset2.drop(columns=['rcount', 'dialysisrenalendstage', 'dialysisrenalendstage', 'asthma',
       'irondef', 'pneum', 'substancedependence', 'psychologicaldisordermajor',
       'depress', 'psychother', 'fibrosisandother', 'malnutrition', 'hemo', 'secondarydiagnosisnonicd9', 'facid'], inplace=True)

health_dataset2['vdate'] = pd.to_datetime(health_dataset2['vdate'])
health_dataset2['discharged'] = pd.to_datetime(health_dataset2['discharged'])

Index(['eid', 'vdate', 'rcount', 'gender', 'dialysisrenalendstage', 'asthma',
       'irondef', 'pneum', 'substancedependence', 'psychologicaldisordermajor',
       'depress', 'psychother', 'fibrosisandother', 'malnutrition', 'hemo',
       'hematocrit', 'neutrophils', 'sodium', 'glucose', 'bloodureanitro',
       'creatinine', 'bmi', 'pulse', 'respiration',
       'secondarydiagnosisnonicd9', 'discharged', 'facid', 'lengthofstay'],
      dtype='object')

In [8]:
from numpy.random import choice

hospital_weights = {
    "Nochchiyagama": 0.01,
    "Elayapaththuwa": 0.02,
    "Eppawala": 0.03,
    "Galenbindunuwewa": 0.03,
    "Galnewa": 0.01,
    "Horowpathana": 0.04,
    "Huruluwewa": 0.05,
    "Mihinthale": 0.06,
    "Tanthirimale": 0.07,
    "Thalawa": 0.04,
    "Maradankadawala": 0.03,
    "Rambewa": 0.03,
    "Galkiriyagama": 0.03,
    "Ranorawa": 0.03,
    "Mahavilachchiya": 0.03,
    "Adiyagala": 0.02,
    "Habarana": 0.09,
    "Kalawewa": 0.06,
    "Rajanganaya": 0.06,
    "Nachchaduwa": 0.04,
    "Negampaha": 0.01,
    "Rathmalgahawewa": 0.02,
    "Pairamaduwa": 0.03,
    "Kallanchiya": 0.02,
    "Anuradhapura": 0.12,
    "Wahalkada": 0.02,
}
hospital_names = list(hospital_weights.keys())
weights = list(hospital_weights.values())

# Replace the hospital column with randomly selected hospitals based on weights
health_dataset2['Hospital'] = choice(hospital_names, size=len(health_dataset2), p=weights)
postal_data = {
    "50112": "Andiyagala",
    # "50370": "Kapugallawa",
    # "50122": "Pubbogama",
    "50248": "Angamuwa",
    "50232": "Karagahawewa",
    # "50567": "Pulmoddai",
    "50000": "Anuradhapura",
    "50088": "Labunoruwa",
    # "50506": "Punewa",
    "50169": "Awukana",
    # "50262": "Ihala Halmillewa",
    "50246": "Rajanganaya",
    "50566": "Bogahawewa",
    # "50304": "Ihalagama",
    "50450": "Rambewa",
    "50356": "Dematawewa",
    "50280": "Ipologama",
    # "50386": "Rampathwila",
    "50214": "Dunumadalawa",
    "50130": "Madatugama",
    # "50212": "Ranorawa",
    # "50393": "Dutuwewa",
    "50126": "Maha Elagamuwa",
    "50514": "Rathmalgahawewa",
    # "50014": "Elayapattuwa",
    "50196": "Mahabulankulama",
    "50008": "Saliyapura",
    "50260": "Eppawala",
    "50270": "Mahailluppallama",
    # "50380": "Seeppukulama",
    # "50584": "Etawatunuwewa",
    "50306": "Mahakanadarawa",
    # "50284": "Senapura",
    "50518": "Etaweeragollewa",
    # "50327": "Mahapothana",
    # "50068": "Sivalakulama",
    "50210": "Galadivulwewa",
    "50574": "Mahasenpura",
    "50184": "Siyambalewa",
    "50390": "Galenbindunuwewa",
    "50022": "Mahawilachchiya",
    # "50006": "Galkadawala",
    "50384": "Mailagaswewa",
    # "50236": "Malwanagama",
    "50240": "Tambuttegama",
    "50064": "Galkulama",
    # "50182": "Maneruwa",
    "50170": "Galnewa",
    "50080": "Maradankadawala",
    # "50016": "Tantirimale",
    "50308": "Maradankalla",
    # "50242": "Telhiriyawa",
    # "50142": "Ganewalpola",
    "50500": "Medawachchiya",
    # "50057": "Gambirigaswewa",
    # "50334": "Megodawewa",
    # "50558": "Tittagonewa",
    # "50224": "Gemunupura",
    # "50572": "Padavi Maithripura",
    # "50207": "Udunuwara Colony",
    # "50382": "Upuldeniya",
    # "50554": "Gonahaddenawa",
    # "50587": "Padavi Sripura",
    # "50588": "Padaviya",
    # "50110": "Vijithapura",
    "50564": "Wahalkada",
    # "50492": "Wahamalgollewa",
    # "50086": "Walagambahuwa",
    # "50516": "Walahaviddawewa",
    "50350": "Horawpatana",
    # "50220": "Pahala Maragahawe",
    # "50222": "Horiwila",
    # "50206": "Pahala Halmillewa",
    "50124": "Halmillawa",
    # "50552": "Halmillawetiya",
    # "50111": "Palagala",
    "50144": "Palugaswewa",
    "50282": "Kagama",
    "50448": "Pandukabayapura",
    # "50029": "Pandulagama",
    "50320": "Kahatagasdigiliya",
    "50326": "Parakumpura",
    "50288": "Kalakarambewa",
    # "50354": "Parangiyawadiya",
    "50174": "Kalankuttiya",
    # "50020": "Pemaduwa",
    "50556": "Kalawedi Ulpotha",
    "50004": "Perimiyankulama",
    "50454": "Kallanchiya",
    "50512": "Pihimbiyagolewa"
}

# create a new column for postal code and randomly assign postal codes
postal_codes = list(postal_data.keys())
health_dataset2['PostalCode'] = choice(postal_codes, size=len(health_dataset2))

In [9]:
diseases ={
    'CKD': 0.2352, 
    'Renal Stones': 0.1508, 
    'Tuberculosis': 0.1195, 
    'Leptospirosis': 0.0988, 
    'Diabetes': 0.0974, 
    'Malnutrition': 0.0782, 
    'Dengue': 0.0675, 
    'Pneumonia': 0.0607, 
    'Asthma': 0.0513, 
    'Hypertension': 0.0406,
    }

diseases_names = list(diseases.keys())
diseases_weights = list(diseases.values())

# Replace the hospital column with randomly selected hospitals based on weights
health_dataset2['Disease'] = choice(diseases_names, size=len(health_dataset2), p=diseases_weights)

In [10]:
health_dataset2

,eid,vdate,gender,hematocrit,neutrophils,sodium,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,discharged,lengthofstay,Hospital,PostalCode,Disease
0,1,2012-08-29,F,11.5,14.20,140.361132,192.476918,12.0,1.390722,30.432418,96,6.5,2012-09-01,3,Horowpathana,50282,CKD
1,2,2012-05-26,F,9.0,4.10,136.731692,94.078507,8.0,0.943164,28.460516,61,6.5,2012-06-02,7,Thalawa,50112,Asthma
2,3,2012-09-22,F,8.4,8.90,133.058514,130.530524,12.0,1.065750,28.843812,64,6.5,2012-09-25,3,Kallanchiya,50248,Dengue
3,4,2012-08-09,F,11.9,9.40,138.994023,163.377028,12.0,0.906862,27.959007,76,6.5,2012-08-10,1,Rathmalgahawewa,50288,CKD
4,5,2012-12-20,F,9.1,9.05,138.634836,94.886654,11.5,1.242854,30.258927,67,5.6,2012-12-24,4,Habarana,50112,Asthma
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,2012-01-28,M,12.0,9.30,132.614977,171.422555,12.0,0.650323,30.063069,80,6.5,2012-02-03,6,Galkiriyagama,50000,CKD
99996,99997,2012-08-06,M,12.0,9.30,138.327320,122.342450,12.0,1.521424,28.969548,61,6.5,2012-08-07,1,Huruluwewa,50556,Renal Stones
99997,99998,2012-07-23,M,16.0,7.70,136.695905,108.288106,12.0,1.025677,26.354919,61,6.9,2012-07-27,4,Thalawa,50356,Pneumonia
99998,99999,2012-12-19,M,14.3,8.20,135.980516,111.750731,16.0,1.035400,29.193462,59,5.6,2012-12-23,4,Galkiriyagama,50004,Malnutrition
99999,100000,2012-03-06,F,11.5,14.20,140.950137,149.572205,12.0,0.813004,25.175760,74,6.5,2012-03-08,2,Nachchaduwa,50454,Renal Stones

In [11]:
health_dataset2.to_csv('health_dataset2.csv', index=False)